body {
    background-color: #d4caca;
}
.container{
    width: 1000px;
    height: 550px;
    margin: 20px, auto;
}
.calculator {
    width: 320px;
    height: 520px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 5px;
    background-color: #9b9797;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result {
    height: 120px;
    background-color: #797171;

}
#history{
    text-align: right;
    padding-top: 20px;
    height: 20px;
    margin: 0 20px;
    font-size: 25px;
    color: white;

}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}

#keyboard {
    height: 400px;
}
.gray{
    background-color: #c5bfbf;
}
.white{
    background-color: #f8f2f2;
}
td {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}